<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <!-- <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li> -->
    <!-- End Dashboard Nav -->

    <li class="nav-heading">Main</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'employee_list' %}">
        <i class="bi bi-person"></i>
        <span>Employees</span>
      </a>
    </li>
    <!-- End Employee Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'telephone_list' %}">
        <i class="bi bi-question-circle"></i>
        <span>Telephone</span>
      </a>
    </li>
    <!-- End F.A.Q Page Nav -->

    <li class="nav-heading">Miscelleanous</li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'location_list' %}">
        <i class="bi bi-envelope"></i>
        <span>Location</span>
      </a>
    </li>
    <!-- End Contact Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'department_list' %}">
        <i class="bi bi-card-list"></i>
        <span>Department</span>
      </a>
    </li>
    <!-- End Register Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'organization_list' %}">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Organization</span>
      </a>
    </li>
    <!-- End Login Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'code_list' %}">
        <i class="bi bi-file-earmark"></i>
        <span>Code</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'device_type_list' %}">
        <i class="bi bi-file-earmark"></i>
        <span>Device Type</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'did_list' %}">
        <i class="bi bi-dash-circle"></i>
        <span>DID Number</span>
      </a>
    </li>
    <!-- End Error 404 Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'employee_category_list' %}">
        <i class="bi bi-dash-circle"></i>
        <span>Employee Category </span>
      </a>
    </li>

  </ul>
</aside>
<!-- End Left side columns -->